<h1>Pokedex!</h1>

<ul class="pokemon-list"></ul>


<script id="pokemon-list-item" type="text/x-handlebars-template">
      <li><a href="pokemons/@pokemon" class="pokemon-link">{{name}}</a></li>
</script>


<!-- handlebars first part
<!--  <script id="pokemon-list-item" type="text/x-handlebars-template">
        <li>{{name}}</li>
  </script>



<!--  original html/erb output -->
  <!-- <% @pokemons.each do |pokemon| %>
<div class="pokemon">
  <%= image_tag pokemon.image_url %>
    <ul>
      <li><%= pokemon.name %></li>
      <li><%= pokemon.attack %></li>
      <li><%= pokemon.defense %></li>
      <li><%= pokemon.happiness %></li>
      <li><%= pokemon.speed %></li>
      <% if (pokemon.species.present?) %>
      <li><%= pokemon.species %></li>
      <% end %>
      <% if (pokemon.growth_rate.present?) %>
      <li><%= pokemon.growth_rate %></li>
      <% end %>
    </ul>
</div>
  <% end %> -->
