<%= image_tag(image_url(@pokemon.image_url) %>

<script id="pokemon-details" type='text/x-handlebars-template'>
  <div class="pokemon">
    <li>Name: {{name}}</li>
    <li>Attack: {{attack}}</li>
    <li>Defense: {{defense}}</li>
    <li>Happiness: {{happiness}}</li>
    <li>Speed: {{speed}}</li>
    <% if (pokemon.species.present?) %>
    <li>Species: {{species}}</li>
    <% end %>
    <% if (pokemon.growth_rate.present?) %>
    <li>Growth Rate: {{growth_rate}}</li>
    <% end %>
  </div>
</script>
