/*// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  margin: auto;
}
